<% if(url === '/') {%>
<footer class="footer py-3 mt-auto">
<%} else {%>
<footer class="footer bg-dark py-3 mt-auto">
<%}%>
	<div class="container-fluid">
		<span class="text-white">&copy; YelpCamp 2021</span>
	</div>
</footer>