<div class="col-2 d-grid align-content-center">
	<div class="row d-grid">
		<a href="/dashboard" class="btn btn-light border border-2 mb-5">New Transaction</a>
	</div>
	<div class="row d-grid">
		<a href="/owner/transactions" class="btn btn-light border border-2 mb-5">Reports</a>
	</div>
	<!-- <div>
		<a href="#" class="btn btn-light border border-2 mb-5">Calendar</a>
	</div> -->
	<div class="row d-grid">
		<a href="/owner/transactions/clients" class="btn btn-light border border-2 mb-5">Clients</a>
	</div>
	<div class="row d-grid">
		<a href="/owner/profile" class="btn btn-light border border-2 mb-5">Profile</a>
	</div>
</div>