<div class="col-2 d-flex flex-column align-items-center border border-primary">
	<div>
		<a href="/dashboard" class="btn btn-secondary mb-5">New Transaction</a>
	</div>
	<div>
		<a href="/owner/transactions" class="btn btn-secondary mb-5">Reports</a>
	</div>
	<div>
		<a href="#" class="btn btn-secondary mb-5">Calendar</a>
	</div>
	<div>
		<a href="#" class="btn btn-secondary mb-5">Clients</a>
	</div>
	<div>
		<a href="/owner/profile" class="btn btn-secondary mb-5">Profile</a>
	</div>
</div>