<% layout('layouts/boilerplate') %>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Something's Wrong!</h4>
  <p>Go back and try again, or press one of the options below.</p>
  <hr>
  <a class="btn btn-secondary" href="/login">Login</a>
  <a class="btn btn-secondary" href="/register">Register</a>
  <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
</div>