<% layout('layouts/boilerplate') %>
<!-- <h1>isOwner</h1> -->
<% if (success.length) { -%>
	<%-include('../../../partials/success')%>
<% } -%>
<div class="row text-primary">
	<div class="col-12">
		<div class="card row">
			<div class="col-10 offset-1 card-title text-center">
				<h1 class="fw-bold m-1"><%= user.businessName %></h1>
				<h5 class="fw-bold mb-0">New Transaction</h5>
			</div>
			<div class="card-body mt-0 pt-1">
				<form action="/owner/transactions" method="POST">
					<div class="row mb-2">
						<div class="col-4">
							<input type="text" class="style-top-line-input text-center form-control text-primary mx-0 px-0" placeholder="Salon Owner" value="<%=user.firstName%> <%=user.lastName%>" aria-label="salon name" name="salon">
						</div>
						<div class="col-4">
							<input type="text" class="style-top-line-input text-center form-control text-primary mx-0 px-0" placeholder="Salon Client" aria-label="salon client" name="client">
						</div>
						<div class="col-4">
					    <input type="date" class="style-top-line-input text-center form-control text-muted mx-0 px-0" placeholder="Today's Date" aria-label="date" name="date">
					  </div>
					</div>
					<!-- <div class="row mb-2 justify-content-end">
						<div class="col-4">
							<div class="d-grid prod-serv-exp-buttons">
								<a class="style-new-item-btn btn btn-success text-primary py-0 mb-2" onclick="addProdServ()">Add Product/Service</a>
								<a class="style-new-item-btn btn btn-success text-primary py-0" onclick="addExpense()">Add Expense</a>
							</div>
						</div>
					</div> -->
					<div class="row mb-2">
						<div class="col-12">
							<div class="row w-90 justify-content-center">
								<div class="col-5 d-grid prod-serv-exp-buttons">
									<a class="style-new-item-btn btn btn-success text-primary py-0 px-1" onclick="addProdServ()">Add Product/Service</a>
								</div>
								<div class="col-5 d-grid">
									<a class="style-new-item-btn btn btn-success text-primary py-0 px-1" onclick="addExpense()">Add Expense</a>
								</div>
							</div>
						</div>
					</div>
					<!-- List of products/services and/or expenses-->
					<div class="prod-serv-exp-items row mb-2">
					</div>
					<div class="row textArea">
						<div class="col-12">
							<textarea name="transactionNotes" id="transactionNotes" rows="5" class="form-control my-2"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="d-grid col-6">
							<button class="style-submit-btn btn btn-lg btn-success text-primary fw-bold p-1 my-1">Submit</button>
						</div>
						<div class="d-grid col-6">
							<a href="/owner/transactions/new" class="style-submit-btn btn btn-lg btn-success text-primary fw-bold p-1 my-1">Cancel</a >
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

 <script>
 	// inner html of expense div to be added at click of "Add Product/Service Item"
	function prodServDiv(inputId) {
		return 				`<div class="col-8">
										<div class="row">
											<div class="col-12">
												<div class="input-group">
													<span class="style-new-item input-group-text text-primary bg-secondary px-1 mr-1">Product/Service</span>
													<input type="text" name="lineItemContent[]" class="style-new-item form-control prod-serv-exp-descr px-1 mr-0" placeholder="Haircut" aria-label="Product, Service, Expense description">
													<input type="hidden" name="lineItemType[]" value="product/service">
												</div>
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="input-group mb-1">
										    <span class="style-new-item input-group-text text-primary bg-secondary px-1 ml-0">$</span>
										  <input type="text" name="lineItemValue[]" class="style-new-item form-control prod-serv-exp-value mr-0 px-1" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
									<div class="col-1 mt-1 mx-0">
										<button class="style-new-item text-primary bg-secondary" onclick="deleteItem(${inputId})">D</button>
									</div>`;
	}

	// inner html of expense div to be added at click of "Add Expense Item"
	function expenseDiv(inputId) {
		return 				`<div class="col-8">
										<div class="row">
											<div class="col-12">
												<div class="input-group">
													<span class="style-new-item input-group-text text-primary bg-secondary px-1 mr-1">Expense</span>
													<input type="text" name="lineItemContent[]" class="style-new-item form-control prod-serv-exp-descr px-1 mr-0" placeholder="Shampoo" aria-label="Product, Service, Expense description">
													<input type="hidden" name="lineItemType[]" value="expense">
												</div>
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="input-group mb-1">
										    <span class="style-new-item input-group-text text-primary bg-secondary px-1 ml-0">$</span>
										  <input type="text" name="lineItemValue[]" class="style-new-item form-control prod-serv-exp-value mr-0 px-1" id="expense-amt" aria-label="Amount (to the nearest dollar)">
										</div>
									</div>
									<div class="col-1 mt-1 mx-0">
										<button class="style-new-item text-primary bg-secondary" onclick="deleteItem(${inputId})">D</button>
									</div>`;
	}
	
	const prodServExpItems = document.querySelector('.prod-serv-exp-items');
	
	let state = {
		inputIds: {},
		total: 0
	}
	let inputLines = 0;


	// Refactor: create 3rd function with passed-in parameters and condense addProdServ & addExpense
	// add Product-Service line item
	function addProdServ(){
		const prodServElement = document.createElement('div');
		prodServElement.className = 'row';
		prodServElement.innerHTML = prodServDiv(inputLines);

		const prodServElementInput = prodServElement.querySelector('input.prod-serv-exp-value');
		// prodServElementInput.id = `inputId-${inputLines}`;
		prodServElement.id = `inputId-${inputLines}`;
		prodServExpItems.appendChild(prodServElement);

		// console.log(document.querySelectorAll('input.prod-serv-exp-value'));
		updateInputChanges();
	}

	// add Expense line item
	function addExpense(){
		const expElement = document.createElement('div');
		expElement.className = 'row';
		expElement.innerHTML = expenseDiv(inputLines);
		//console.log(expenseDiv(inputLines));

		const expElementInput = expElement.querySelector('input.prod-serv-exp-value');
		// expElementInput.id = `inputId-${inputLines}`;
		expElement.id = `inputId-${inputLines}`;
		prodServExpItems.appendChild(expElement);

		// console.log(document.querySelectorAll('input.prod-serv-exp-value'));
		updateInputChanges();
	}

	// resets event listeners on the inputs to prevent doubling up event listeners on the same inputs
	function	updateInputChanges(){
		const inputs = document.querySelectorAll('.prod-serv-exp-value');
		inputs.forEach(input => {
			input.removeEventListener('change', updateState);
			input.addEventListener('change', updateState);
		})
		inputLines++;
		// console.log(inputLines);
	}

	function deleteItem(inputNo){
		const idToDelete = document.getElementById(`inputId-${inputNo}`);
		// console.log(idToDelete);
		inputLines --;
		idToDelete.remove();
	}

	// update state with key-value pairs of IDs to current value, and total sum of transaction values
	function updateState(){
		const inputs = document.querySelectorAll('.prod-serv-exp-value');
		inputs.forEach(input => {
			input.value = input.id === "expense-amt"? Math.abs(input.value)*(-1): Math.abs(input.value);
			let inputId = input.parentElement.parentElement.parentElement.id;
			state.inputIds[inputId] = parseInt(input.value) | 0;
			state.total = Object.values(state.inputIds).reduce((acc, v) => {
				return acc + v;
			}, 0)
		})
		displayTotal();
	}

	// display the up-to-date (live) total value of transaction for user to view
	function displayTotal(){
		let stateTotalDisplay = document.querySelector('.stateDisplay')
		if(!stateTotalDisplay){
			const textArea = document.querySelector('.textArea');
			stateTotalDisplay = document.createElement('div');
			stateTotalDisplay.className = 'stateDisplay';
			stateTotalDisplay.innerHTML = `Total transaction is: $${state.total}`;
			stateTotalDisplay.style.display = 'block';
			textArea.prepend(stateTotalDisplay);
		} else {
				stateTotalDisplay.innerHTML = `Total transaction is: $${state.total}`;
		}
	}

</script>