<% layout('layouts/boilerplate') %>
<p><%=error%></p>
<p><%=success%></p>
<div class="container">
	<div class="row justify-content-center">
			<div class="card col-6" style="width: 18rem;">
				<span class="text-center h3">Login</span>
			  <!-- <img src="https://images.unsplash.com/photo-1470259078422-826894b933aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2706&q=80" class="card-img-top" alt="..."> -->
			  <img src="./images/login_img.jpeg" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<form action="/login" method="POST">
			  		<input class="form-control mb-2" placeholder="Email" aria-label="email" type="email" class="mb-2" name="email">
			  		<input class="form-control mb-2" placeholder="Password" aria-label="password" type="password" class="mb-2" name="password">
			  		<div class="d-grid">
			    		<button class="btn btn-success">Login</button>
			    	</div>
			  	</form>
			  	<hr>
			  	<p>Click here to <a href="/register">register</a> if you need to open an account</p>	<!-- remove underline -->
			  </div>
			</div>
	</div>
</div>
