<% layout('layouts/boilerplate') %>
<div class="container">
	<div class="row justify-content-center">
			<div class="card col-6" style="width: 18rem;">
			  <img src="https://images.unsplash.com/photo-1470259078422-826894b933aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2706&q=80" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<form action="#">
			  		<!-- <p class="text-center">Login</p> -->
			  		<label for="email">Email</label>
			  		<input type="email" class="mb-3">
			  		<label for="password">Password</label>
			  		<input type="password" class="mb-3">
			  		<div class="d-grid">
			    		<button class="btn btn-success">Login</button>
			    	</div>
			  	</form>
			  	<hr>
			  	<p>Click here to <a href="/register">register</a></p>	<!-- remove underline -->
			    <!-- <h5 class="card-title text-center">Login</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
			    
			  </div>
			</div>
	</div>
</div>
