<% layout('layouts/boilerplate') %>
<div class="container">
	<div class="row justify-content-center">
			<div class="card col-6" style="width: 28rem;">
				<span class="text-center">Register</span>
			  <img src="https://images.unsplash.com/photo-1470259078422-826894b933aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2706&q=80" class="card-img-top" alt="...">
			  <div class="card-body">
			  	<form action="#">
			  		<p class="text-center">Select One:</p>
			  		<div class="row mb-3">
			  			<div class="col-6 text-center">
			  				<input type="radio" class="form-control btn-check" name="regOwner" id="regOwner" autocomplete="off">
								<label class="btn btn-primary btn-sm" for="regOwner">Salon Owner</label>
			  			</div>
			  			<div class="col-6 text-center">
								<input type="radio" class="form-control btn-check" name="regClient" id="regClient" autocomplete="off">
								<label class="btn btn-primary btn-sm" for="regClient">Client</label>
							</div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name" name="businessName">
						  </div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="text" class="form-control" placeholder="Business Address" aria-label="Business Address" name="businessAddress">
						  </div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" name="firstName">
						  </div>
						  <div class="col">
						    <input type="text" class="form-control" placeholder="Last Name" aria-label="Last name" name="lastName">
						  </div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email">
						  </div>
						  <div class="col">
						    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" name="phoneNumber">
						  </div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="password" class="form-control" placeholder="Password" name="password">
						  </div>
						</div>
						<div class="row mb-3">
						  <div class="col">
						    <input type="password" class="form-control" placeholder="Repeat Password" name="passwordRepeat">
						  </div>
						</div>
			  		<div class="d-grid">
			    		<button class="btn btn-success">Login</button>
			    	</div>
			  	</form>
			  	<hr>
			  	<p>Click here to <a href="/login">login</a> if you already have account</p>	<!-- remove underline -->
			  </div>
			</div>
	</div>
</div>
